<div class="row">
    <div class="col-lg-4 web-serv-style">
        <div class="web-serve-area">
            <img src="../assets/images/web-icon.png" alt="">
            <h5>Custom Web Design</h5>
        </div>
        <div class="web-serv-box-hover">
            <h3>Custom Web Design</h3>
            <p>Our expertise meets your whims! We shape your thoughts with our work by designing a website, with
                features and functionality of your choice. </p>
            <button class="btn btn-learn-more"><a href="#" title="">Learn More</a></button>
        </div>
    </div>
    <!--web-serv-style-->
    <div class="col-lg-4 web-serv-style">

        <div class="web-serve-area">
            <img src="../assets/images/web-icon.png" alt="">
            <h5>Responsive Web Design</h5>
        </div>
        <div class="web-serv-box-hover">
            <h3>Custom Web Design</h3>
            <p>Our expertise meets your whims! We shape your thoughts with our work by designing a website, with
                features and functionality of your choice. </p>
            <button class="btn btn-learn-more"><a href="#" title="">Learn More</a></button>
        </div>
    </div>
    <!--web-serv-style-->
    <div class="col-lg-4 web-serv-style">

        <div class="web-serve-area">
            <img src="../assets/images/web-icon.png" alt="">
            <h5>Ecommerce Web Design</h5>
        </div>
        <div class="web-serv-box-hover">
            <h3>Custom Web Design</h3>
            <p>Our expertise meets your whims! We shape your thoughts with our work by designing a website, with
                features and functionality of your choice. </p>
            <button class="btn btn-learn-more"><a href="#" title="">Learn More</a></button>
        </div>
    </div>
    <!--web-serv-style-->
</div>
<!--/row-->