<app-banner></app-banner>
<section id="about-section">
    <div class="container">
        <app-our-company></app-our-company>
    </div>
</section>
<section id="about-sec-section">
    <div class="container">
        <div class="col-lg-12">
            <h2>Our Company</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
    </div>
</section>
<section id="about-last-section">
    <div class="container">
        <app-why-choose-us></app-why-choose-us>
    </div>
</section>