<div class="row">
    <div class="col-lg-6 portfolio-style-text">
        <h4>Our Portfolio</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
        </p>
        <button class="btn btn-quote"><a href="#" title="">Ask for a quote</a> </button>
        <button class="btn btn-look"><a href="#" title="">Take a Look</a> </button>

    </div>
    <!--/portfolio-style-text-->
    <div class="col-lg-6 portfolio-style-img">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="portfolio-img">
                    <img src="../assets/images/portfolio-img.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="portfolio-img">
                    <img src="../assets/images/portfolio-img.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="portfolio-img">
                    <img src="../assets/images/portfolio-img.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="portfolio-img">
                    <img src="../assets/images/portfolio-img.jpg" alt="">
                </div>
            </div>
        </div>
        <!--/inter-row-->
    </div>
    <!--/portfoli-style-img-->
</div>
<!--/row-->